<ion-view view-title="Sobre">
  <ion-content class="padding" align="center">
    <h2>Bem vindo ao restaurante</h2>

    <img src="img/restau.jpg" style="width: 350px; height: 200px">
    
    <p>
      Comida rápida e bem feita, com os melhores chefs !
    </p>
    <p>
      Conheça mais sobre os nossos pratos no <a href="https://facebook.com" target="_blank">Facebook</a> nos siga no <a href="http://instagram.com" target="_blank">Instagram</a>. Aproveite os nossos pratos.
    </p>
  </ion-content>
</ion-view>
